.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.slide-left-enter {
  transform: translateX(100px);
}

.slide-left-enter-active {
  transition: all 1s ease;
}


.slide-bottom-enter-active, .slide-bottom-leave-active {
  transition: all .3s ease;
  // opacity: 1;
}

.slide-bottom-enter, .slide-bottom-leave-to {
  opacity: 0;
  transform: translateY(100%);
}
