$ff: 'Segoe UI';
$purple: #a57bec;

.box {
  padding: 30px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0px 0px 110px 0px rgba(212,214,242,.8);
  border-radius: 12px;
}

.text {
  box-shadow: 0px 0px 60px -3px rgba(212, 214, 242, .6);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
}

.btn-submit {
  width: 100%;
  border-radius: 30px;
  background-color: #a57bec;
  padding: 16px;
  box-sizing: border-box;
  color: #fff;
  outline: none;
}

.add-btn {
  background-color: #fff;
  padding: 13px;
  padding-right: 30px;
  box-shadow: 0px 0px 60px 3px rgba(212,214,242,1);
  border-radius: 6px;
  position: relative;
  outline: none;
  display: block;
  margin: 30px auto;
  &::after {
    content: "+";
    font-family: $ff;
    position: absolute;
    padding: 15px;
    top: calc(50% - 24.5px);
    right: -25px;
    color: #fff;
    background-color: $purple;
    border-radius: 30px;
    width: 49px;
    box-sizing: border-box;
  }
}

.notification {
  position: relative;
  &:before {
    position: absolute;
    font-size: 12px;
    box-shadow: 0 1px 0 rgba(0,0,0,.15),inset 0 1px 0 hsla(0,0%,100%,.15);
    border-radius: 3px;
    width: 14px;
  }
}

.notification-warning {
  @extend .notification;
  &:before {
    content: "!";
    background-color: #eb4d4b;
    color: white;
  }
}
